<div class="col-md-12">
  <h2 class="text-center">Publications </h2>
</div>
<div class="col-md-12">
	<% @publications.each do |publication|%>
	  <div class="articles col-lg-4 col-md-6 col-sm-6">
	  	<div class="wrap-image">
				<div class="publication_image">
					<%= link_to publication do %>
						<%= image_tag (publication.avatar_url) if publication.avatar? %>
					<% end %>
				</div>
			</div>
			<h4>
				<%= link_to publication.title, publication %>
			</h4>

			<div class="excerpt">
				<p><%= publication.short_description %></p>
 			</div>

 			<div class="buttons">
				<% if user_signed_in? %>
	    		<% if current_user.admin? %>
		        <%= link_to(edit_publication_path(publication)) do %>
		        	<i class="fa fa-pencil fa-2x edit" aria-hidden="true"></i>
		        <% end %>
		        <%= link_to(publication, method: :delete) do %>
		        	<i class="fa fa-trash-o fa-2x destroy" aria-hidden="true"></i>
		        <% end %>
		      <% end %>
		    <% end %>
 			</div>
	  </div>
	<% end %>
</div>
<div class="text-center pagination"> <%= will_paginate @publications %> </div>


		


