<div class="panel panel-default">
  <div class="panel-heading">
  	<%= @publication.title %>
		<%= link_to('Edit', edit_publication_path, class: "btn btn-warning") %>
		<%= link_to('Delete', @publication, method: :delete, class: "btn btn-danger") %>
  </div>
  <div class="panel-body">
    <div class="publication_image">
    	<%= image_tag (@publication.avatar_url) if @publication.avatar? %>
    </div>
    <div><%= @publication.description %></div>
	</div>
</div>

