<div class="col-md-12">
  <h3 class="text-center"><%= @publication.title %></h3>
</div>
<div class="col-md-12">
    <div class="articles-show col-lg-12 col-md-12 col-sm-12">
      <div class="buttons text-right">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to(edit_publication_path, class: "edit_publication") do %>
              <i class="fa fa-pencil fa-2x edit" aria-hidden="true"></i>
            <% end %>
            <%= link_to(@publication, method: :delete, class: "destroy_publication") do %>
              <i class="fa fa-trash-o fa-2x destroy" aria-hidden="true"></i>
            <% end %>
            <% elsif @author_user %>
              <%= link_to(edit_publication_path, class: "edit_publication") do %>
                <i class="fa fa-pencil fa-2x edit" aria-hidden="true"></i>
              <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="wrap-image">
        <div class="publication-image-show">
            <%= image_tag (@publication.avatar_url) if @publication.avatar? %>
        </div>
      </div>

      <div class="excerpt-description">
        <div><p><%= @publication.description %></p></div>
        <p class="review">Просмотренно: <%= @review %> раз</p>
      </div>

      <h3 class="text-center similar-articles">Похожие статьи</h3>
      <div>
        <%= render 'random_publication', collection: @random_publications %>
      </div>
    </div>
</div>



