<div>
	<div class="panel panel-default">
	  <div class="panel-heading">Panel heading <%= link_to('create new user', new_user_path, class: 'btn btn-success') %></div>

	  <table class="table">
	  	<tr class="text-center">
	  		<td><p>email</p></td>
	  		<td><p>admin</p></td>
	  		<td><p>created at</p></td>
	  		<td><p>last sign in at</p></td>
	  		<td><p>Destroy</p></td>
	  	</tr>
	  	
	  	 <% @users.each do |user| %>
	  	 		<tr class="text-center">
						<td class="text-left"><p><%= user.email %></p></td>
						<td><p><%= user.admin %></p></td>
						<td><p><%= user.created_at %></p></td>
						<td><p><%= user.last_sign_in_at %></p></td>
						<td><%= link_to('destroy', user, method: :delete, class: "btn btn-danger") %></td>
					</tr>
				<% end %>

	  </table>
	</div>
</div>
